extends ../../master/website

block subtitle
  | Your public IP Address
block pagemeta
  meta(name='description', content='Dev Helpers - Get your public IP address.')
  meta(name='keywords', content='ip, ipaddress, public ip address, whats my ip, whatismyip, find ip, get ip, remote ip, internet protocol address')


block content
  .jumbotron
    .container.text-center
        h1 IP Address

  .container.text-center
        h2 #{ipAddress}
        p Your Public IP Address