!!! 5
html(lang='en')
  head
    title 
      | DevHelpers - 
      block subtitle


    meta(charset='utf-8')
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    block pagemeta
      meta(name='description', content='')
      meta(name='author', content='')
    
    link(rel='shortcut icon', href='/plugins/ico/favicon.png')
    link(href='/plugins/bootstrap3/css/bootstrap.css', rel='stylesheet')
    
    block pagecss
      link(href='/app/css/starter-template.css', rel='stylesheet')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-45100212-1', 'devhelpers.herokuapp.com');ga('send', 'pageview');
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          //-button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') DevHelpers
        //-.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
    //-.container
  
    block content
      

    block scripts
      script(src='/plugins/js/jquery.js')
      script(src='/plugins/bootstrap3/js/bootstrap.min.js')
